.booking {
  padding-top: 182px;

  &__section {
    width: 1060px;
    margin: 0 auto;
  }

  &__category {
  }

  &__subtitle {
    text-align-last: left;
  }

  &__wrapper {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 570px 370px;
    column-gap: 53px;
  }

  &__caption {
  }

  &__title {
    width: 511px;
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
  }

  &__steps {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 48px;
  }

  &__step {
    display: flex;
    &:nth-child(1) {
      .booking__step-badge {
        background-color: #F0BB1F;
      }
    }
    &:nth-child(2) {
      .booking__step-badge {
        background-color: #F15A2B;
      }
    }
    &:nth-child(3) {
      .booking__step-badge {
        background-color: #006380;
      }
    }
  }

  &__step-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 48px;
    border-radius: 13px;
  }

  &__step-description {
    margin-left: 21px;
    width: 327px;
  }

  &__step-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
  }

  &__step-text {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
  }

  &__card {
    margin-top: 35px;
    padding: 20px 24px 31px 25px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
  }

  &__card-container {
  }

  &__card-image {
    width: 100%;
    height: 161px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
  }

  &__card-content {
  }

  &__card-title {
    margin-top: 26px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    color: #080809;
  }

  &__card-description {
    margin-top: 13px;
    display: flex;
  }

  &__card-date {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829A;
  }

  &__card-by {
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829A;
  }

  &__card-icons {
    margin-top: 21px;
    width: 140px;
    display: flex;
    justify-content: space-between;
  }

  &__card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #F5F5F5;
    border-radius: 100%;
  }

  &__card-icon {
  }

  &__card-bottom {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-counter {
    display: flex;
    align-items: center;
  }

  &__card-counter-image {
  }

  &__card-counter-number {
    margin-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.02em;
    color: #84829A;
  }

  &__card-like {
  }
}
