.promo {
  min-height: 870px;
  /* background: linear-gradient(
    to left,
    red,
    red 20%,
    transparent 1rem,
    transparent 100%
  ); */
  &__container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }

  &__container-bg {
    position: absolute;
    right: -0;
    top: 0;
    background-image: url('../../../assets/svg/Decore.svg');
    width: 704px;
    height: 724px;
    z-index: 10;
  }

  &__wrapper {
    position: relative;

  }

  &__bg {
    position: absolute;
    right: -55px;
    top: 19px;
    background-image: url('../../../assets/img/promo/promo_bg.png');
    width: 785px;
    height: 764px;
    z-index: 20;

  }

  &__caption {
    padding-top: 127px;
    width: 630px;
  }

  &__subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
  }

  &__title {
    position: relative;
    margin-top: 25px;
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;

    &-underline {
      position: relative;

      &::after {
        content: url('../../../assets/svg/promo_underline.svg');
        position: absolute;
        left: -29px;
        top: 19px;
        width: 385px;
        height: 12px;
        z-index: -1;
      }
    }
  }

  &__text {
    margin-top: 30px;
    width: 477px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
  }

  &__btns {
    margin-top: 35px;
    display: flex;
  }

  &__btn {
    padding: 19px 26px;
    border: none;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    font-family: 'Google Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }

  &__demo {
    margin-left: 45px;

  }

  &__demo-link {
    display: flex;
    align-items: center;
  }

  &__demo-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #DF6951;
  }

  &__demo-text {
    margin-left: 21px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #686D77;
  }
}
